/* Example admonition customisation */
.md-typeset .dice-roll > .admonition-title,
.md-typeset .dice-roll > summary {
  background-color: rgba(124,77,255,.1);
  font-size: .64rem;
}
.md-typeset details.dice-roll {
  border-color: #7c4dff;
  font-size: .64rem;
  #font-size: .8rem;
}
.md-typeset .dice-roll > .admonition-title::before,
.md-typeset .dice-roll > summary::before {
  background-color: #7c4dff;
  -webkit-mask-image: var(--md-admonition-icon--example);
          mask-image: var(--md-admonition-icon--example);
}

/* == highlights == */
.md-typeset mark {
  background-color: #02a6f25c;
}
