.md-typeset .dice-big {
  #color: #1DA1F2;
  font-size: 100px;
  vertical-align: middle;
}
.md-typeset .dice-medium {
  #color: #1DA1F2;
  font-size: 60px;
  vertical-align: middle;
}
.md-typeset .dice-medium-orange {
  color: rgba(255,145,0,.80);
  font-size: 60px;
  vertical-align: middle;
}
.md-typeset .dice-small {
  #color: #1DA1F2;
  font-size: 50px;
  vertical-align: middle;
}
.md-typeset .dice-small-orange {
  color: rgba(255,145,0,.80);
  font-size: 50px;
  vertical-align: middle;
}

